@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.home-container {
.homeContainer {
  min-height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.hero {
  text-align: center;
  padding: 5rem 0;
  border-radius: 10px;
}

.ltp {
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.heroButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.exploreButton,
.createButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.exploreButton {
  background-color: #0d6efd;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.exploreButton:hover {
  background-color: #092f69;
  border: 2px solid #044ab3;
}

.createButton {
  border: 2px solid white;
  color: white;
}

.createButton:hover {
  background-color: white;
  color: #000;
}

.whatsNew {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.nftCard {
  position: relative;
  margin: 10px;
  overflow: hidden;
  border: 1px solid #555;
  border-radius: 1rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nftCard:hover {
  transform: translateY(-10px);
}

.nftImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.nftCard:hover .nftImage {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.nftInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.nftDetails1{
  margin: 0;
}

.nftDetails2{
  margin: 0 1rem 0 1rem;
}

.nftCard:hover .nftInfo {
  opacity: 1;
  transform: translateY(0);
}

.nftTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.nftAuthor{
  font-size: 0.9rem;
  font-weight: lighter;
  color:#bebdbd;
  margin-bottom: 0.2rem;
}

.nftLTP {
  font-size: 1.2rem;
  font-weight: bold;
  /* margin-bottom: 0.2rem; */
}

.nftPrice {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 1.2rem;
}

.nftDate {
  font-size: 0.8rem;
  color: #ccc;
  margin-bottom: 1rem;
}

.likeContainer {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.heartIcon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #dc3545;
}

.likeCount {
  font-size: 1.2rem;
}

.buyButton {
  background-color: #0d6efd;
  font-weight:600;
  border: none;
  border-radius: 1.2rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buyButton:hover {
  background-color: #0b51ba;
}
}

@media (max-width: 992px) {
  .hero {
    padding: 3rem 0;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .exploreButton,
  .createButton {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
  }

  .nftImage {
    width: auto;
    height: auto;
  }
  .nftTitle {
    font-size: 0.5rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
  }
  
  .nftPrice, .nftLTP {
    font-size: 0.45rem;
    margin-bottom: 0.25rem;
  }
  
  .nftDate {
    font-size: 0.4rem;
    color: #ccc;
    margin-bottom: 0.5rem;
  }
  
  .heartIcon {
    font-size: 0.6rem;
    margin-right: 0.25rem;
    color: #dc3545;
  }
  
  .likeCount {
    font-size: 0.45rem;
  }
  
  .buyButton {
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.75rem;
    font-size: 0.5rem;
  }
  

}

@media (max-width: 576px) {
  .nftImage {
    width: 150px;
    height: 150px;
  }
}
